@font-face{
	font-family: "Euclid";
	src: url("Fonts/._Euclid Flex Regular.otf");
	src: url("Fonts/._Euclid Flex Regular.otf?#iefix") format("embedded-opentype");
	font-style: normal;
	font-weight: normal;
}